@import "base";

header {
    height: 35px;
    border-bottom: 1px solid #EEE;
    background: #f5f5f5;

    .header {
        width: 1190px;
        margin: 0 auto;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
        position: relative;

        .left {
            float: left;

            a {
                font-size: 12px;
                color: #6C6C6C;
            }

            a:nth-child(1) {
                color: #F22E00;
                margin-right: 7px;
            }

            a:nth-child(2) {
                margin-right: 18px;
            }

            a:hover {
                color: #F40;
            }
        }

        .right {
            float: right;

            ul {
                li {
                    height: 35px;
                    line-height: 35px;
                    float: left;
                    padding: 0 6px;

                    a {
                        margin-right: 7px;
                        display: block;
                    }

                    a:hover {
                        color: #F40;
                    }

                }

                li:nth-child(1) {
                    a {
                        color: #F22E00;
                    }
                }

                li:nth-child(2),
                li:nth-child(4),
                li:nth-child(6),
                li:nth-child(7),
                li:nth-child(8) {
                    position: relative;

                    a {
                        float: left;
                        height: 35px;
                    }

                    span {
                        display: block;
                        float: left;
                        margin-top: 15px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                    }

                    p {
                        min-height: 20px;
                        padding: 8px 0px;
                        position: absolute;
                        border: 1px solid #eee;
                        border-top: none;
                        left: 0;
                        top: 35px;
                        display: none;
                        z-index: 10;
                        background: white;
                        clear: both;

                        a {
                            width: 82px;
                            display: block;
                            padding: 0 5px;
                            margin: 0;
                            white-space: nowrap;
                        }

                        a:hover {
                            background: #eee;
                        }
                    }
                }

                li:nth-child(2):hover,
                li:nth-child(4):hover,
                li:nth-child(6):hover,
                li:nth-child(7):hover,
                li:nth-child(8):hover {
                    background: white;
                    border: 1px solid #eee;
                    border-top: none;
                    border-bottom: 1px solid white;
                    padding: 0 5px;

                    p {
                        left: -1px;
                        display: block;
                    }

                    span {
                        transform: rotate(180deg);
                        transition: 0.3s;
                        transform-origin: 50% 30%;
                    }
                }

                li:nth-child(3),
                li:nth-child(8) {
                    position: relative;

                    a {
                        float: left;
                    }

                    i {
                        font-style: normal;
                        color: #F40;
                        margin-right: 5px;
                    }

                    span {
                        display: block;
                        float: left;
                        margin-top: 15px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                    }
                }

                li:nth-child(4) {
                    position: relative;

                    a {
                        float: left;
                    }

                    i {
                        font-style: normal;
                        color: #9c9c9c;
                        margin-right: 5px;
                    }

                    span {
                        display: block;
                        float: left;
                        margin-top: 15px;
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #bbb transparent transparent;
                    }

                    p {
                        padding: 8px 0px;
                        position: absolute;
                        border: 1px solid #eee;
                        border-top: none;
                        left: 0;
                        top: 35px;
                        display: none;
                        z-index: 10;
                        background: white;
                        clear: both;

                        a {
                            width: 82px;
                            display: block;
                            padding: 0 5px;
                            margin: 0;
                            white-space: nowrap;
                        }

                        a:hover {
                            background: #eee;
                        }
                    }
                }

                li:nth-child(4):hover {
                    background: white;
                    padding: 0 5px;
                    border: 1px solid #eee;
                    border-top: none;
                    border-bottom: 1px solid white;

                    p {
                        left: -1px;
                    }

                    span {
                        transform: rotate(180deg);
                        transition: 0.3s;
                        transform-origin: 50% 30%;
                    }
                }

                li:nth-child(8) {
                    position: static;

                    p {
                        width: 1190px;
                        min-height: 30px;
                        left: 0;
                    }
                }
            }
        }
    }
}

.logoBox {
    height: 83px;

    .logo {
        width: 990px;
        height: 43px;
        padding: 20px 0;
        margin: 0 auto;
        line-height: 43px;

        i {
            font-size: 50px;
            font-style: normal;
            color: #F40;
            float: left;
        }

        b {
            font-weight: normal;
            font-size: 22px;
            line-height: 43px;
            display: inline-block;
            margin-left: 6px;
        }
    }
}

.contentBox{
    min-height: 300px;
    .content{
        width: 990px;
        min-height: 300px;
        margin: 0 auto;
        // background: red;
        .switch{
            height: 36px;
            border-bottom: 2px solid #e6e6e6;
            a{
                display: block;
                float: left;
                width: 124px;
                text-align: center;
                color: #3c3c3c;
                font-weight: 900;
                font-size: 16px;
                padding-bottom: 15px;
            }
            a.active{
                color: #f40;
                border-bottom: 2px solid #f40;
            }
            .total1{
                float: right;
                font-size: 12px;
                b{
                    color: #f40;
                    display: inline-block;
                    width: 45px;
                    text-align: center;
                }
                input{
                    width: 55px;
                    height: 25px;
                    background: #aaa;
                    border: none;
                    color: white;
                    border-radius: 3px;
                    cursor: not-allowed;
                }
            }
        }
        table{
            text-align: left;
            line-height: 50px;
            font-size: 12px;
            tr{
                td:nth-child(1){
                    width: 65px;
                    height: 50px;
                    padding-left: 15px;
                }
                td:nth-child(2){
                    width: 210px;
                    height: 50px;
                    padding-left: 90px;
                    text-align: left;
                }
                td:nth-child(3){
                    width: 160px;
                    height: 50px;
                    padding-left: 10px;
                }
                td:nth-child(4), td:nth-child(5){
                    width: 110px;
                    height: 50px;
                    padding-left: 10px;
                    text-align: left;
                }
                td:nth-child(6){
                    width: 105px;
                    height: 50px;
                    text-align: left;
                }
                td:nth-child(7){
                    width: 85px;
                    height: 50px;
                    padding-left: 15px;
                    text-align: left;
                }
            }
        }
        .toPayPro{
            dl{
                dt{
                    height: 40px;
                    line-height: 40px;
                    padding-left: 15px;
                    i{
                        font-size: 12px;
                        font-style: normal;
                        padding-left: 30px;
                        background: url(../images/indexImg/TB1ziRwRpXXXXcAXFXXXXXXXXXX-23-12.png) no-repeat;
                        margin-left: 5px;
                    }
                    em{
                        font-size: 12px;
                        font-style: normal;
                        
                        a:hover{
                            text-decoration: underline;
                            color: #f40;
                        }
                    }
                }
                dd{
                    width: 988px;
                    height: 128px;
                    border: 1px solid #ccc
                }
            }
        }
        .totalBox{
            width: 980px;
            height: 50px;
            background: #e5e5e5;
            margin-top: 15px;
            line-height: 50px;
            padding-left: 10px;
            font-size: 12px;
            a{
                margin-left: 25px;
            }
            a:hover{
                color: #f40;
                text-decoration: underline;
            }
        }
    }
}

.footerBox {
    height: 171px;

    .footer {
        height: 154px;
        width: 1190px;
        margin: 60px auto 0;
        padding: 7px 0 9px 0;
        border-top: 1px solid #ddd;

        p {
            height: 27px;
            padding-bottom: 8px;
            border-bottom: 1px solid #ddd;

            a {
                font-size: 12px;
                color: #6c6c6c;
                padding: 0 6px;
                border-right: 1px solid #ddd;
            }

            a:nth-last-child(1) {
                border: none;
            }

            a:hover {
                color: #f40;
            }
        }

        ul {
            margin-top: 8px;
            float: left;
            margin-bottom: 8px;

            li {
                float: left;
                margin: 0 4px;

                a {
                    font-size: 12px;
                    color: #6c6c6c;
                }

                a:hover {
                    color: #f40;
                }
            }
        }

        b {
            float: left;
            margin-top: 8px;
            font-size: 12px;
            margin-left: 30px;
            color: #9c9c9c;
            font-weight: normal;
        }

        span {
            display: block;
            font-size: 12px;
            color: #9c9c9c;
            clear: both;
        }
    }
}