// 重置样式
// // 公共样式
@import "base";


.navBox {
    height: 37px;
    border-bottom: 1px solid #7a45e5;

    nav {
        height: 37px;
        width: 1190px;
        margin: 0 auto;

        p {
            width: 180px;
            height: 38px;
            padding-left: 20px;
            background: black;
            color: white;
            line-height: 38px;
            font-size: 14px;
            float: left;
        }

        ul {
            float: left;
            height: 37px;
            padding-left: 40px;

            li {
                float: left;

                a {
                    height: 37px;
                    line-height: 37px;
                    margin-right: 40px;
                    font-size: 14px;
                }

                a:hover {
                    color: #ff195a;
                }
            }
        }

        >a {
            float: right;
            font-size: 14px;
            line-height: 37px;
            margin-right: 40px;
        }

        >a:hover {
            text-decoration: underline;
        }
    }
}

.contentBox {
    background: white;

    .content {
        width: 1190px;
        height: auto;
        margin: 0 auto;

        .detailBox {
            min-height: 600px;
            width: 1190px;

            .detail {
                min-height: 600px;
                width: 990px;
                margin-top: 20px;
                overflow: hidden;
                float: left;

                .left {
                    width: 460px;
                    float: left;
                    min-height: 600px;

                    .productImg {
                        width: 418px;
                        position: relative;
                        margin: 0 auto;

                        img {
                            width: 418px;
                            height: 418px;
                            margin: 0 auto;
                        }

                        .magnifier {
                            width: 175px;
                            height: 175px;
                            background: url(../images/product/magnifier.png);
                            position: absolute;
                            left: 0;
                            top: 0;
                            cursor: move;
                            display: none;
                        }

                        .magnifierImg {
                            width: 418px;
                            height: 418px;
                            position: absolute;
                            left: 432px;
                            top: 0;
                            z-index: 100;
                            overflow: hidden;
                            display: none;

                            img {
                                width: 1000px;
                                height: 1000px;
                                position: absolute;
                            }
                        }
                    }

                    .productImg_t {
                        height: 60px;
                        width: 460px;
                        padding-top: 22px;
                        text-align: center;

                        img {
                            width: 60px;
                            height: 60px;
                            display: inline-block;
                            margin-left: 16px;
                            cursor: pointer;
                            padding: 1px;
                        }

                        img.active {
                            border: 1px solid black;
                            padding: 0;
                        }
                    }

                    .operation {
                        padding: 38px 40px 25px;
                        font-size: 12px;

                        i,
                        em {
                            font-style: normal;
                            color: #999;
                            margin-right: 30px;
                        }
                    }
                }

                .right {
                    width: 530px;
                    float: right;
                    min-height: 600px;
                    overflow: hidden;

                    .productInfo {
                        margin-top: 20px;
                        width: 530px;

                        h4 {
                            font-size: 16px;
                            font-weight: 700;
                            padding: 0 10px;
                        }

                        p {
                            color: #FF0036;
                            font-size: 14px;
                            padding: 0 10px;
                            margin-bottom: 12px;
                        }

                        .price {
                            height: 31px;
                            padding: 5px 0;
                            line-height: 31px;
                            background: url(../images/product/price_bg.png);

                            b {
                                font-size: 12px;
                                font-weight: normal;
                                color: #999;
                                margin-left: 8px;
                            }

                            strong {
                                font-size: 24px;
                                color: #FF0036;
                                margin-left: 50px;
                            }
                        }

                        .freight {
                            height: 37px;
                            width: 510px;
                            line-height: 37px;
                            padding: 5px 0;

                            b {
                                font-size: 12px;
                                font-weight: normal;
                                color: #999;
                                margin-left: 8px;
                            }
                        }

                        .evaluation {
                            width: 510px;
                            height: 16px;
                            padding: 10px 0;
                            text-align: center;
                            border: 1px dotted #c9c9c9;
                            border-right: none;
                            border-right: none;
                            line-height: 16px;
                            font-size: 12px;
                            color: #999;

                            strong {
                                color: #FF0036;
                                margin-left: 3px;
                            }
                        }

                        .division {
                            padding-left: 10px;
                            padding-top: 16px;
                            text-align: center;

                            dl {
                                height: 45px;
                                line-height: 45px;
                                padding-bottom: 6px;
                                padding-top: 5px;

                                dt {
                                    min-width: 75px;
                                    float: left;
                                    font-size: 12px;
                                    color: #999;
                                    text-align: left;
                                    padding: 5px 0;
                                }

                                dd {
                                    float: left;
                                    width: 420px;
                                    padding: 5px 0;

                                    ul {
                                        height: 46px;

                                        li {
                                            height: 38px;
                                            margin-top: 5px;
                                            cursor: pointer;
                                            float: left;
                                            margin-right: 4px;
                                            padding: 1px;
                                            position: relative;

                                            img {
                                                display: inline-block;
                                                width: 38px;
                                                height: 38px;
                                                border: 1px solid #b8b7bd;
                                            }

                                            span {
                                                i {
                                                    display: block;
                                                    width: 12px;
                                                    height: 12px;
                                                    position: absolute;
                                                    background: url(../images/product/active.png);
                                                    bottom: -4px;
                                                    right: 0;
                                                }
                                            }
                                        }

                                        li.active,
                                        li:hover {
                                            padding: 0;

                                            img {
                                                border: 2px solid #FF0036;
                                            }
                                        }
                                    }

                                    ol {
                                        li {
                                            padding: 1px;
                                            cursor: pointer;
                                            position: relative;
                                            float: left;

                                            b {
                                                display: block;
                                                height: 28px;
                                                line-height: 28px;
                                                margin-top: 9px;
                                                padding: 0 9px;
                                                font-size: 12px;
                                                font-weight: normal;
                                                border: 1px solid #b8b7bd;
                                            }

                                            span {
                                                i {
                                                    display: block;
                                                    width: 12px;
                                                    height: 12px;
                                                    position: absolute;
                                                    background: url(../images/product/active.png);
                                                    right: 0;
                                                    bottom: 0;
                                                }
                                            }
                                        }

                                        li.active,
                                        li:hover {
                                            padding: 0;

                                            b {
                                                border: 2px solid #FF0036;
                                            }
                                        }
                                    }
                                }
                            }

                            .qtyBox{
                                height: 36px;
                                line-height: 36px;
                                margin-bottom: 15px;

                                dd {
                                    font-size: 12px;
                                    color: #999;
                                    text-align: left;

                                    input {
                                        width: 45px;
                                        height: 30px;
                                        border: 1px solid #a7a6ac;
                                        outline: none;
                                        float: left;
                                        text-align: center;
                                        color: #666;
                                        font-size: 12px;
                                        background: white;
                                    }

                                    .num {
                                        width: 18px;
                                        height: 32px;
                                        float: left;
                                        margin-left: 3px;
                                        margin-right: 10px;
                                        user-select: none;

                                        span {
                                            display: block;
                                            height: 12px;
                                            width: 16px;
                                            border: 1px solid #a7a6ab;
                                            line-height: 12px;
                                            text-align: center;
                                            font-size: 12px;
                                            margin-bottom: 4px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }

                            input:nth-of-type(1) {
                                width: 178px;
                                height: 38px;
                                border: 1px solid #FF0036;
                                color: #FF0036;
                                background: #ffeded;
                                cursor: pointer;
                                font-size: 16px;
                                // margin-top: 15px;
                            }

                            input:nth-of-type(2) {
                                width: 178px;
                                height: 38px;
                                border: 1px solid #FF0036;
                                color: #FF0036;
                                background: #ff0036;
                                cursor: pointer;
                                color: white;
                                font-size: 16px;
                                // margin-top: 15px;
                            }

                            .server {
                                width: 470px;
                                padding: 0 20px;
                                margin-top: 50px;
                                font-size: 12px;
                                text-align: left;

                                a:nth-child(1) {
                                    color: #999;
                                }

                                a {
                                    margin-right: 30px;
                                    color: #666;
                                }

                                span {
                                    float: right;
                                    color: #666;

                                    em {
                                        font-style: normal;
                                        font-weight: 600;
                                        margin-left: 3px;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            .tm_layout {
                width: 990px;
            }

            .proInfo {
                width: 990px;
                // min-height: 200px;
                height: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                .left {
                    width: 188px;
                    min-height: 183px;
                    float: left;
                    border: 1px solid #e5e5e5;
                    padding: 0 0 15px;
                    h4{
                        padding-left: 15px;
                        border-bottom: 1px solid #e5e5e5;
                        height: 48px;
                        line-height: 48px;
                        a{
                            font-size: 14px;
                            color: #404040;
                            font-weight: 600;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                    p{
                        width: 100px;
                        font-size: 12px;
                        font-weight: 600;
                        text-align: center;
                        color: #999;
                        margin: 10px auto 5px;
                    }
                    .score{
                        width: 130px;
                        height: 30px;
                        margin: 30px auto 0;
                        dl{
                            width: 30px;
                            float: left;
                            margin-right: 20px;
                            font-size: 12px;
                            text-align: center;
                            color: #999;
                            dd{
                                color: #ff0036;
                            }
                        }
                        dl:nth-last-of-type(1){
                            margin: 0;
                        }
                    }
                    .goShop{
                        width: 150px;
                        margin: 16px auto 0;
                        input{
                            float: left;
                            display: block;
                            width: 70px;
                            height: 24px;
                            margin: 0 auto;
                            border: none;
                            text-align: center;
                        }
                        input:nth-child(1){
                            background: #333;
                            color: white;
                            margin-right: 6px;
                            border: 1px solid #333;
                        }
                        input:nth-child(2){
                            background: #f5f5f5;
                            color: #333;
                            border: 1px solid #ccc;
                        }
                    }
                }

                .right {
                    width: 790px;
                    min-height: 200px;
                    margin-left: 10px;
                    float: left;
                    .top{
                        width: 788px;
                        height: 48px;
                        border: 1px solid #dfdfdf;
                        line-height: 48px;
                        ul{
                            li{
                                float: left;
                                padding: 0 20px;
                                margin-top: 16px;
                                height: 16px;
                                line-height: 16px;
                                font-size: 12px;
                                border-right: 1px dotted #d2d2d2;
                            }
                            li:nth-child(1){
                                height: 48px;
                                line-height: 48px;
                                border-left: 1px solid #cfbfb1;
                                border-right: 1px solid #cfbfb1;
                                color: #FF0036;
                                font-size: 12px;
                                position: relative;
                                margin-left: -1px;
                                margin: 0;
                            }
                        }
                    }
                    .bottom{
                        width: 788px;
                        padding: 18px 20px;
                        color: #666;
                        h3{
                            font-size: 12px;
                            font-weight: normal;
                            height: 40px;
                        }
                        p{
                            font-size: 12px;
                            height: 20px;
                            color: #999;
                            font-weight: 600;
                        }
                        ol{
                            li{
                                width: 220px;
                                height: 18px;
                                margin: 10px 15px 0 0;
                                display: inline-block;
                                font-size: 12px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
            .skuRight{
                min-height: 580px;
                padding-top: 20px;
                width: 200px;
                float: left;
                span{
                    width: 140px;
                    margin: 0 auto;
                    display: block;
                    height: 1px;
                    border-top: 1px #c9c9c9 dotted;
                    position: relative;
                    h4{
                        text-align: center;
                        font-size: 12px;
                        position: absolute;
                        top: -8px;
                        left: 50%;
                        margin-left: -30px;
                        color: #999;
                        width: 60px;
                        background: white;
                    }
                }
                ul{
                    margin-top: 25px;
                    padding: 10px 12px 0 13px;
                    li{
                        text-align: center;
                        margin-bottom: 20px;
                        position: relative;
                        img{
                            display: inline-block;
                            width: 160px;
                            height: 160px;
                        }
                        p{
                            height: 24px;
                            line-height: 24px;
                            position: absolute;
                            bottom: 0;
                            text-align: center;
                            width: 175px;
                            font-size: 12px;
                            background: rgba($color: #fff, $alpha: 0.6);
                            color: #404040;
                        }
                    }
                }
            }
        }
    }
}